### Common ###
target/
.gradle
.m2

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Visual Studio Code related ###
.vscode/

.flattened-pom.xml